*{
    font-family: cursive;
}
body{
    background-color: blueviolet;
}
.container{
    position:absolute;
    left:50%;
    top:50%;
    transform: translate(-50%, -50%);
    background-color:white;
    width:30%;
    padding:10px;
    border-radius:10px;
}
.textarea{
    width:95%;
    height:95%;
    resize:none;
    outline: none;
    border:2px solid black;
    font-size:20px;
}
.counter{
    display:flex;
    align-items:start;
    justify-content:start;
    flex-direction:row;
    gap:27%;
}
p{
    display:flex;
    flex-direction:row;
    padding:0px;
}

@media (max-width: 1234px) {
    
    .heading{
        font-size:20px;
    }
    p{
        display:flex;
        flex-direction: row;
        font-size:15px;
        padding:0px;
        margin:0px;
    }
}